---
# tasks file for role/monitor
- name: Ensure the alertmanager directory exists
  file:
    path: ./alertmanager
    state: directory

- name: Ensure the blackbox directory exists
  file:
    path: ./blackbox
    state: directory

- name: Ensure the prometheus directory exists
  file:
    path: ./prometheus
    state: directory

- name: Create the alertmanager.yml file
  template:
    src: alertmanager.yml
    dest: ./alertmanager/alertmanager.yml

- name: Create the blackbox-config.yml file
  template:
    src: blackbox-config.yml
    dest: ./blackbox/blackbox-config.yml

- name: Create the prometheus.yml file
  template:
    src: prometheus.yml
    dest: ./prometheus/prometheus.yml

- name: Create the prometheus alert.yml file
  template:
    src: alerts.yml
    dest: ./prometheus/alerts.yml

- name: Create the docker-compose.yml file
  template:
    src: ./docker-compose.yml
    dest: ./docker-compose.yml

- name: Run Docker Compose up
  become: True
  shell:
    cmd: "docker compose -f ./docker-compose.yml up -d"
