networks:
  monitoring:

volumes:
  prometheus-data: {}
  alertmanager-data: {}

services:
  alertmanager:
    image: prom/alertmanager:latest
    container_name: alert-manager
    restart: unless-stopped
    volumes:
      - "./alertmanager:/config"
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
      - alertmanager-data:/data
    command: --config.file=/config/alertmanager.yml --log.level=debug
    ports:
      - 9093:9093
    networks:
      - monitoring

  blackbox_exporter:
    image: prom/blackbox-exporter:latest
    container_name: blackbox-exporter
    restart: unless-stopped
    ports:
      - 9115:9115
    networks:
      - monitoring
    command:
      - "--config.file=/etc/blackbox_exporter/blackbox-config.yml"
      - "--web.listen-address=0.0.0.0:9115"
      - "--log.level=info"
    volumes:
      - ./blackbox/blackbox-config.yml:/etc/blackbox_exporter/blackbox-config.yml

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
      - ./prometheus/alerts.yml:/etc/prometheus/alerts.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--web.enable-lifecycle"
    ports:
      - 9090:9090
    networks:
      - monitoring
    user: root

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3001:3000
    networks:
      - monitoring
